* {
  font-family: Sans-serif;
}

.nav-link.text-warning {
  font-weight: 500;
}

h2 {
  font-size: 1.8rem;
  font-weight: bold;
}

.btn-custom { 
}

.btn-custom:hover {
    background-color: #8F9090; /* màu xám nhạt khi hover */
    color: black;
}
